span {
    font: "roboto";
}

h1 {
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2vw;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    font-weight: normal;
}

h3 {
    font-size: 2vw;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    margin: 16px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    text-align: center;
}

.ButtonNav {
    background-color: rgb(240, 242, 245);
    border: none;
    border-radius: 20px;
    width: 20%;
    max-width: 110px;
    max-height: 80px;
    min-height: 60px;
    height: 10%;
    color: black;
    font-size: 1.7em;
    margin: 0px 20px 20px 0px;
    position: fixed;
    right: 0;
    padding-right: 8px;
    bottom: 0;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
}

.ButtonNav:active {
    background-color: rgb(136, 136, 136);
};

.ButtonContainer {
    text-align: right;
}

.background {
    background-color: rgb(255, 255, 255);
}

.nextButton {
     background-color: yellow;
}

.StageTitleContainer {
    margin-bottom: 50px;
}

.mainContent {
    justify-content: center;
    align-self: flex-start;
    display: flex;
}

.flex_container {
    display: flex;
    justify-content: center;
    /*align-self: center;*/
    align-items: center;
    list-style: none;
    text-align: center;
}

.two_column {
    height: 60%;
    width: 60%;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
}

.three_column{
    width: 33.33%;
    margin-left: 16px;
    margin-right: 16px;
    height: 100%;
    flex-direction: column;
}

.itemBoxes {
    background: rgb(240, 242, 245);
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    height: 200px;
    margin: 10px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
}

.longBox {
    height:  400px;
    min-width: 300px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.wideBox {
    width: 600px;
}

.bigBox {
    width: 800px;
    height: 100%;
    padding: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.medText {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2vw;
    line-height: 1.1;
}

.profilePicture {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 6px;
}

.profilePicture img{
    width: 100%;
    height: auto;
}

.friendInfoHeader {
    display: flex;
    margin-top: 40px;
    background-color: rgb(240, 242, 245);
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.headerContainer{
    display: flex;
    width: 50%;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.friendName{
    font-size: 36px;
    font-weight: bold;
}

.friendH4{
    font-size: 20px;
    color: #65676B;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: row wrap;
}

.friendInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
}

.about {
    display: flex;
    margin: 20px;
    font-size: 38px;
    font-weight: bold;
}

.centerColumn {
    display: flex;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(240, 242, 245);
}

.centerColumnInfo {
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    flex-flow: row wrap;
}

.centerColumnItem {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.categoryName {
    width: 100%;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.knownInfo {
    color: #65676B;
    font-size: 20px;
    margin-top: 0px;
    font-weight: normal;
    overflow-wrap: break-word;
}

.SearchContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.SearchBar {
    display: flex;
    width: 50%;
}