.CenterTitle {
    font: bold;
    font-size: 100px;
}

.MainBodyContainer {
    /* background-color: green; */
    text-align: center;
}

.ContentContainer {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.SectionContainer {
    /* background-color: greenyellow; */
    width: 40%;
    margin: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionHeader {
    margin-bottom: 30px;
    font-size: 50px;
}

.SectionImage {
    background-color: "black";
    width: "200px";
    height: "200px"
}