.MainBodyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.ProfileText {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.SectionContainer {
    margin: 10px 10px 10px 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowsColumn{
    display: flex;
    align-items: center;
}

.rowItem{
    display: flex;
    align-items: center;
    margin: 10px;
}

.DetailItemLeft {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-height: 100px;
    display: block;
    font-size: 1.5em;
}

.DetailItemRight {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 15px;
    min-height: 100px;
    display: block;
    font-size: 1.5em;
}

.ItemContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.ProfileImage {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: black;
}

.ProfilePostImage {
    background-color: black;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.InferencesContainer {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.DetailColumnContainer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.SubDetailText {
    font-style: italic;
}

.AdImage {
    width: 59%;
    margin-bottom: 20px;
}

.SectionHeader {
    font-size: 2.1em;
    font: 'Roboto';
    margin: 16px;
    font-weight: bold;
    text-align: center;
}