.CategoryListContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.CategoryListItem {
    border-radius: 20px;
    justify-self: center;
    width: 35%;
    border: none;
    margin-bottom: 19px;
}

.SelectedCategoryContainer {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.SelectedCategoryColumn {
    width: 35%;
    background: rgb(240, 242, 245);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}