.SearchBar {
    background-color: black;
}

.MainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 50%;
    height: 50px;
    font-size: 20px;
    color: #76787c;
    margin-top: 3%;
    background: rgb(240, 242, 245);
    background-image: url(../../images/SearchBarIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    margin-left: 25%;
    border-radius: 10px;
    border: none;
}